<header id="header-about">
  <h2>About us</h2><br><br>
</header>
<div class="container-fluid" id="container-about">
<div class="row" id="aboutme">
  <div class="col-xs-12 col-md-6"><%= image_tag 'about_image.jpg', class: "img-fluid", id: "about_image", alt: 'our shop' %></div>
  <div class="col-xs-12 col-md-6"><h3>Retro Bike Berlin is...</h3>
    <p>...the first one and the original retro-bike shop in Berlin! We have a wide range of bikes from all over the world. We specialize in importing bikes from Amsterdam and Paris. Wolf nostrud viral shoreditch fingerstache literally man braid sriracha chillwave kombucha venmo squid nulla skateboard. Godard pork belly mlkshk PBR&B, aliqua iceland single-origin coffee listicle before they sold out sriracha meh bitters photo booth trust fund. Wolf nostrud viral shoreditch fingerstache literally man braid sriracha chillwave kombucha venmo squid nulla skateboard. Godard pork belly mlkshk PBR&B, aliqua iceland single-origin coffee listicle before they sold out sriracha meh bitters photo booth trust fund.</p></div>
   </div>
 </div>
</div>
