<header id="header-about">
  <h2>About us</h2><br><br>
</header>
<div class="container-fluid" id="container-about">
<div class="row" id="aboutme">
  <div class="col-xs-12 col-md-6"><%= image_tag 'about_image.jpg', class: "img-fluid", id: "about_image", alt: 'our shop' %></div>
  <div class="col-xs-12 col-md-6"><h3>Retro Bike Berlin is...</h3>
    <p>...the first one and the original retro-bike shop in Berlin! We have a wide range of bikes from all over the world. We specialize in importing bikes from Amsterdam and Paris. If you are looking for stylish-retro bikes with the best quality and price relation you can not find any better place. Check out our contact section to see where to meet us!</p></div>
   </div>
 </div>
</div>
