<header id="header-contact">
<h2>Contact</h2><br><br>
</header>
<div class="container" id="container-contact">
  <div class="row" id="contact">
    <div class="col-xs-12 col-md-6">
      <h5>Write us an email: bikes-berlin@gmail.com</h5>
      <p>Lorem ipsum dolor amet cliche retro forage man braid post-ironic aliqua butcher chillwave ut farm-to-table hexagon. Pabst venmo echo park, kombucha master cleanse occupy veniam artisan. Commodo brunch retro, meditation aliquip proident in four dollar toast. Cliche qui cupidatat venmo ut velit. Messenger bag glossier raw denim kickstarter bushwick neutra nisi labore hell of fam pariatur fingerstache tumblr eu etsy.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= image_tag 'contact_image.jpg', class: "img-fluid", id: "contact_image", alt: 'bike' %>
    </div>
  </div>
</div>
