<div class="panel panel-default">
  <div class="panel-body">
    <h3 id="header-thank-you">Thank you!</h3>
    <p id="message-thank-you">We have received your message and will respond as soon as possible.</p>
    <%= link_to "Go to the homepage", root_path, class: "btn btn-outline-success", role: "button", id: "back-button" %>
  </div><!-- / panel-body -->
</div><!-- / panel -->
