// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-purchase h2 {
  margin: 2% 0;
}


.container-purchase p {
  text-align: center;
}

.purchase-button {
  display: inline-block;
  margin-bottom: 2%;
}
