// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  width: 90%;
}

#product-list {
  margin: 0 5%;
}

.product-show {
  margin: 5% auto;
}

p {
  width: 80%;
  margin: 2% 10%;
}

.product-show-name {
  padding: 5% 0;
}

.product-show-price {
  font-size: 2em;
}
