// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  //font: Helvetica, sans-serif;
  color: #243037;
  //text-align: center;
}

h1 {
  text-align: left;
  padding-bottom: 1%;
  margin-left: 5%;
}

h3, h2 {
  text-align: center;
}

p {
  text-align: justify;
}

/// ALL PRODUCTS ///

.product-img {
  width: 70%;
  margin: 0 15%;
}

#header-products h2 {
  padding-top: 2%;
  padding-bottom: 5%;
}

/// CAROUSEL ///

.carousel-caption {
  color: #243037;
  font-size: 1.3em;
  padding-top: 15%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3c3c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3c3c;' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: lightgrey;
}

.carousel-indicators li.active {
  background-color: grey;
}

/// ORDERS ///

.order-img {
  width: 40%;
}

.order-price {
  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
  padding-top: 2%;
  padding-bottom: 5%;
}

.order-content {
  width:70%;
}

.order-content h3 {
  padding-bottom: 1%;
}

.order-description {
  padding-bottom: 5%;
}

.order-description p {
  font-size: 1.1em;
}

.order-content h2 {
  padding: 5% 0;
}



/// FOOTER ///

#footer-content {
  background-color: #f8f9fa!important;
  margin-top: 3%;
  padding-top: 1%;
  width: 100%!important;
  text-align: center;
}

.footer-menu {
  color: black!important;
  font-size: 0.8em;
  line-height: 0.6em;
  //border-left: 1px solid black;
  padding-bottom: 3%;
}

.footermenu a {
  color: black;
}

.footermenu p {
  color: black;
  font-weight: bold;
  padding: .5rem 1rem;
}

.footer-nav {
  color: black!important;
}

.footer-title {
  color: black!important;
  font-weight: bold;
  text-align: center;
}

#copyright {
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: white;
  color: black!important;
  font-size: 0.95em;
}


.payment-options {
  vertical-align: bottom;
  display: inline;
  width: 50px;
}

#payment-1 {
  display: inline;
  width: 60px;
  margin-left: 1rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

#payment-2 {
  display: inline;
  width: 60px;
  margin-left: 1rem;

}

#payment-3 {
  display: inline;
  width: 90px;
  margin-left: 1rem;

}


.socialmedia {
  vertical-align: bottom;
  display: inline;
  width: 50px;
}

#socialmedia-1 {
  display: inline;
  width: 50px;
  margin-left: 1rem;
  padding-top: 7%;
}

#socialmedia-2 {
  display: inline;
  width: 50px;
  margin-left: 1rem;
  padding-top: 7%;
}

#socialmedia-3 {
  display: inline;
  width: 50px;
  margin-left: 1rem;
  padding-top: 7%;
}


/// HEADER ///
.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1523734423917-03d79056caf8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c68e8c1c5f17c77efebaf7e55da52bad&auto=format&fit=crop&w=1525&q=80);
  background-size: cover;
  height: 500px;
  background-position: center;
}

.jumbotron p {
  text-align: left;
  margin-left: 5%;
}


.btn-success {
  color: white!important;
  margin-left: 5%;
  position: left;
}

/// ABOUT ///

#header-about h2{
  padding: 2% 0;
}

#about_image {
  padding-bottom: 6%;
}


/// CONTACT ///
#header-contact h2 {
  padding: 2% 0;
}

#container-contact h5 {
  text-align: center;
  padding-bottom: 4%;
}

#container-contact p {
  width: 70%;
  margin: 3% 15%;
}

#contact_image {
  width: 100%;
  margin: 5% 0%;
}

.form-group-contact {
  width: 70%;
  margin: 0 15%;
}

/// NEW PRODUCT ///

.new-product {
  text-align: center;
}

.new-product h2 {
  padding: 2% 0;
}

/// EDIT PRODUCT ///

.edit-product {
  text-align: center;
}

.edit-product h2 {
  padding: 2% 0;
}

/// FORMS ///

.control-label {
  font-weight: bold;
  text-align: left;
}

.form-group {
  width: 60%;
  margin: 0 25%;
}

.form-label {
  font-weight: bold;
}

/// THANK YOU PAGE ///

#header-thank-you {
  padding: 2% 0;
}

#message-thank-you {
  text-align: center;
  width: 80%,auto;
  margin: 0 10%;
}

#back-button {
  margin: 3% 43%;
}
